@font-face {
    font-family: Gulzar;
    src: url('fonts/Gulzar-Regular.ttf');
}

@font-face {
    font-family: Open-Sans;
    src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: Open-Sans;
    font-weight: bold;
    src: url('fonts/OpenSans-ExtraBold.ttf');
}

:root {
    --bg-color: rgb(252, 242, 231);
    --fg-color: rgb(235, 224, 212);
    --text-color: rgb(37, 37, 36);
    --h1-size: 80px;
    --page-size: 900px;
    --justify: left;
    --min-page-size: 600px;
    --padding-amount:40px;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        --bg-color: rgb(238, 226, 212);
        --fg-color: rgb(252, 242, 231);
        --text-color: rgb(37, 37, 36);
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: rgb(19, 19, 18);
        --fg-color: rgb(29, 29, 27);
        --text-color: antiquewhite;
    }
}

/* Mobile */
@media screen and (max-width: 481px) {

    :root {

        --h1-size: 15.0vw;
        --page-size: 100vw;
        --justify: center;
        --min-page-size: 100vw;
	--padding-amount: 0px;
    }


}

body {
    background-color: var(--bg-color);
    color: var(--text-color);

    margin: 0px;
}

#content {
    background-color: var(--fg-color) !important;
    max-width: var(--page-size);
    min-width: var(--min-page-size);
    height: 100vh;
    text-align: var(--justify);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--padding-amount);
    padding-right: var(--padding-amount);
}

h1 {
    display: inline-block;
    font-family: Open-Sans;
    font-weight: bold;
    font-size: var(--h1-size);
    margin-block-start: 0.2em;
    margin-block-end: 0.0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left:-20px;
}

h2 {
    font-family: Open-Sans;
    font-weight: bold;
    font-size: 35px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
	font-family: Open-Sans;
	font-weight: 20;
	font-size:18px;
}
#banner-title {
    position: absolute;
    top: 0%
}

.video-container {
	margin-left:auto;
	margin-right:auto;
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px!important;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	width:85%;
	height:85%;
	left:0;
	right:0;
	margin: 0 auto;
