body {
    /* background-color: rgb(255, 239, 220); */
    background-color: rgb(37, 37, 36);
}

h1 {
    /* color: rgb(46, 46, 46); */
    color: antiquewhite;
}

h2 {
    color: antiquewhite;
}

p {
    color: antiquewhite;
}