@font-face {
    font-family: Gulzar;
    src: url('fonts/Gulzar-Regular.ttf');
}

@font-face {
    font-family: Open-Sans;
    src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: Open-Sans;
    font-weight: bold;
    src: url('fonts/OpenSans-ExtraBold.ttf');
}

body {
    background-color: rgb(37, 37, 36);
    color: antiquewhite;
}

h1 {
    font-family: Open-Sans;
    font-weight: bold;
}

h2 {
    font-family: Gulzar;
    font-weight: 100;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: rgb(252, 242, 231);
        color: rgb(37, 37, 36);
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(37, 37, 36);
        color: antiquewhite;
    }
}